<div class="container" id="i18_conference">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="conference.conference">Conference Presentations</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
  
    <!-- edit from here -->
    <h2>
    <ol>
    
    <li><strong>Aso, M.</strong>, N. Aso, and S. Ide, Estimation of Magnitude and Characteristics of Low Frequency Earthquakes in Parkfield, <em>JpGU Meeting</em>, <em>Makuhari</em>, <em>Japan</em>, May 2019</li>
    <li><strong>Aso, M.</strong>, N. Aso, and S. Ide, Variations of Focal Mechanisms of Low Frequency Earthquakes in Parkfield, <em>JpGU Meeting</em>, <em>Makuhari</em>, <em>Japan</em>, May 2019</li>
    <li><strong>Aso, M.</strong>, N. Aso, and S. Ide, Variations of Focal Mechanisms and Characteristics of Seismicity of LFEs in Parkfield, <em>Workshop of Slow Earthquakes</em>, <em>Tsukuba</em>, <em>Japan</em>, March 2019 (Submitted)</li>
    <li><strong>Aso, M.</strong>, N. Aso, and S. Ide, Focal mechanisms and seismicity of LFEs in Parkfield, <em>International Joint Workshop of Slow Earthquakes</em>, <em>Fukuoka</em>, <em>Japan</em>, September 2018</li>
     <li><strong>Aso, M.</strong>, N. Aso, and S. Ide, Focal mechanisms and seismicity of LFEs in Parkfield, <em>SCEC Annual Meeting</em>, <em>Palm Springs</em>, <em>USA</em>, September 2018</li>
    <li><strong>Aso, M.</strong>, N. Aso, and S. Ide, Beach balls at deep part of strike slip fault, <em>Summer School of Seismology</em>, <em>Shizuoka</em>, <em>Japan</em>, September 2018</li>
    <li><strong>Aso, M.</strong>, N. Aso, and S. Ide, Amplitude evaluation of stacked waveforms of LFEs at Parkfield: Toward estimating focal mechanisms, <em>JpGU-AGU Joint Meeting</em>, <em>Makuhari</em>, <em>Japan</em>, April 2018</li>
    <li><strong>Aso, M.</strong>, N. Aso, and S. Ide, Amplitude evaluation of stacked waveforms of LFEs at Parkfield, <em>Slow Earthquake Workshop</em>, <em>Shizuoka</em>, <em>Japan</em>, March 2018</li>
    <li><strong>Aso, M.</strong>, N. Aso, and S. Ide, Stacked Waveforms of LFEs at Parkfield: Toward Estimating Focal Mechanisms, <em>SSJ Fall Meeting</em>, <em>Kagoshima</em>, <em>Japan</em>, October 2017</li>
    <li><strong>Aso, M.</strong>, N. Aso, and S. Ide, Stacking LFEs at Parkfield: Toward Estimating
    Focal Mechanisms, <em>Joint Workshop on Slow Earthquake</em>, <em>Matsuyama</em>, <em>Japan</em>, September 2017</li>
    <li><strong>Ido, M.</strong>, and N. Suda, Diffusional migration of deep non-volcanic tremor in western
    Shikoku, southwest Japan, <em>AOGS Fall Meeting</em>, <em>Sapporo</em>, <em>Japan</em>, August 2014 </li>
    <li><strong>Ido, M.</strong>, and N. Suda, The effect of large earthquake and long-term SSEs to tremor activities, <em>JpGU Meeting</em>, <em>Yokohama</em>, <em>Japan</em>, April 2014  </li>
    <li><strong>Ido, M.</strong>, and N. Suda, The characteristic earthquake – tremor migration -, <em>Science Intercollegiate</em>, <em>MEXT</em>, <em>Makuhari</em>, <em>Japan</em>, March 2014  </li>
    <li><strong>Ido, M.</strong>, and N. Suda, Diffusion coefficients of tremor migration in western Shikoku, <em>SSJ Fall Meeting</em>, <em>Yokohama</em>, <em>Japan</em>, October 2013  </li>
    </ol>
    </h2>
</div>
