<div class="container" id="i18_visited">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <div data-i18n="visited.visited_place"><h1>Visited Places A</h1></div>
        </div>
    </div>
</div>

<div class="block">
    <div class="google-maps">
        <iframe src="https://www.google.com/maps/d/embed?mid=1pA8Gsd-Xm9QyJvujZJkh7Yud4Ghd47xa" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            
</div>
