<div class="container" id="i18_visited">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="visited.visited_place">Visited Places</span></h1>


        </div>
                   
    </div>
    <div class="google-maps">
                    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1pA8Gsd-Xm9QyJvujZJkh7Yud4Ghd47xa"
                             frameborder="0" style="border:0"></iframe>
            </div>
</div>

