<div class="container" id="i18_visited">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <div data-i18n="visited.visited_place"><h1>Visited Places </h1></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            
    <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12958.287764465273!2d139.75389841977537!3d35.71215005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c2453643969%3A0x4efa34b619d590ba!2z5p2x5Lqs5aSn5a2m5Yy75a2m6YOo6ZmE5bGe55eF6Zmi!5e0!3m2!1sja!2sjp!4v1538548361139" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
            
        </div>
    </div>
</div>
